<html>
<head>
	<title>hapi Greetings</title>
	<link rel="stylesheet" href="/assets/css/stylesheet.css" />
</head>
<body>
	<header>
		<h2>My Cards</h2>
		<a href="cards/new" class="btn btn-default" role="button">
			Make New Card
		</a>
	</header>
	<ul class="cards">
		<li class="card">
			<div class="recipient">To: Jim Bob
			</div>
			<img src="/assets/images/cards/xmas_card.jpg">
			<div class="actions">
				<a href="cards/12345" class="btn btn-default" role="button">
					Preview
				</a>
				<a href="cards/12345/delete" class="btn btn-default" role="button">
					Delete
				</a>
				<a href="cards/12345/send" class="btn btn-default" role="button">
					Send
				</a>
			</div>
		</li>
		<li class="card">
			<div class="recipient">To: Jenny Sue
			</div>
			<img src="/assets/images/cards/halloween_card.jpg">
			<div class="actions">
				<a href="cards/12346" class="btn btn-default" role="button">
					Preview
				</a>
				<a href="cards/12346/delete" class="btn btn-default" role="button">
					Delete
				</a>
				<a href="cards/12346/send" class="btn btn-default" role="button">
					Send
				</a>
			</div>
		</li>
		<li class="card">
			<div class="recipient">To: Sammy Paige
			</div>
			<img src="/assets/images/cards/party_card.jpg">
			<div class="actions">
				<a href="cards/12347" class="btn btn-default" role="button">
					Preview
				</a>
				<a href="cards/12347/delete" class="btn btn-default" role="button">
					Delete
				</a>
				<a href="cards/12347/send" class="btn btn-default" role="button">
					Send
				</a>
			</div>
		</li>
	</ul>
</body>
</html>